---
import Hero from "../components/hero.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Hero
      imgLink="/public/photos/guindaste.png"
      heroLogo="/public/icons/maxtec-lettering.png"
      subtitulo="SISTEMAS PARA MOVIMENTAÇÃO DE CARGAS"
    />
  </body>
</html>
