---
import CardServico from "../components/card-servico.astro";
import Hero from "../components/hero.astro";
import Nav from "../components/nav.tsx";
import DefaultSection from "../layouts/defaultSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/global.css" />
    <title>Astro</title>
  </head>
  <body>
    <Nav client:load imgSource="/icons/mxt-logo.svg" />

    <Hero
      imgLink="/photos/guindaste.png"
      heroLogo="/icons/maxtec-lettering.png"
      subtitulo="SISTEMAS PARA MOVIMENTAÇÃO DE CARGAS"
    />

    <DefaultSection>
      <CardServico
        cardTitle="Serviço 1"
        cardIcon="/icons/wrench.and.screwdriver.svg"
      />

      <CardServico
        cardTitle="Serviço 2"
        cardIcon="/icons/wrench.and.screwdriver.svg"
        whatRow="row-2"
      />

      <CardServico
        cardTitle="Serviço 3"
        cardIcon="/icons/wrench.and.screwdriver.svg"
      />

      <CardServico
        cardTitle="Serviço 4"
        cardIcon="/icons/wrench.and.screwdriver.svg"
        whatRow="row-2"
      />
    </DefaultSection>

    <div class="h-[2000px]"></div>
  </body>
</html>
