---
const { services } = Astro.props;
---

<div id="card-container" class="w-80">
  {
    services.map(
      (service: {
        cardIcon: string;
        cardTitle: string;
        serviceDescription: string;
      }) => (
        <div class="info-container">
          <img src={service.cardIcon} alt="Card Icon" class="w-8" />
          <h1 class="text-4xl font-bold mt-5">{service.cardTitle}</h1>
          <p class="mt-3">{service.serviceDescription}</p>
        </div>
      )
    )
  }
</div>

<style>
  #card-container {
    width: 1400px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 48px;
    opacity: 0;
    left: -20px;
    transition: all 1s ease;
  }

  #card-container.show {
    opacity: 1;
    left: 0;
  }

  #card-container h1 {
    color: var(--azul-maxtec);
  }

  #card-container p {
    color: #979797;
    font-size: 16px;
  }

  @media (max-width: 1400px) {
    #card-container {
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    #card-container {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 40px;
      row-gap: 40px;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    #card-container p {
      font-size: 14px;
      margin-top: 5px;
    }

    #card-container h1 {
      font-size: 28px;
    }
  }

  @media (max-width: 548px) {
    #card-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      column-gap: 20px;
      row-gap: 50px;
      width: 100%;
    }
  }
</style>

<script>
  const cardContainer = document.querySelectorAll("#card-container");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);
        if (entry.isIntersecting) {
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 1,
    }
  );

  cardContainer.forEach((card) => {
    observer.observe(card);
  });
</script>
