---

---

<section>
  <slot />
</section>

<style>
  section {
    width: 100%;
    height: fit-content;
    padding: 80px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 548px) {
    section {
      padding: 60px 25px;
    }
  }
</style>
